<!DOCTYPE html>
<html >
<body  align="center" style="background-color:rgb(228, 208, 208);">
<head>
  <meta charset="UTF-8">
  <title>Text to speech</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <style>
      body {
        font-family: 'Tangerine', serif;
        font-size: 28px;
      }
    </style>


</head>

<body>
        Your file is ready to download
       
       <a href="{{ url_for('database_download', filename=filename) }}">Download</a>

   <br>
   

 


</body>
</html>
